@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #000046; /* fallback for old browsers */
	background: #000046; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#1cb5e0,
		#000046
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#1cb5e0,
		#000046
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
